<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4M4SMTqxYHm6KbWnu-wSswz-dE6m1Ojg</string>
	<key>GCM_SENDER_ID</key>
	<string>261046713398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wecancityagency.MrS-Cool</string>
	<key>PROJECT_ID</key>
	<string>mrs-cool</string>
	<key>STORAGE_BUCKET</key>
	<string>mrs-cool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261046713398:ios:963b95fb3724ef066e6c97</string>
</dict>
</plist>