<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.example.app.backgroundTaskIdentifier</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.26283973925-u4e25me332aoq6n3ci3bn13qb5amc1hb</string>
			</array>
		</dict>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need to send you notifications to keep you updated.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ArbFONTS-LamaSans-Black.ttf</string>
		<string>ArbFONTS-LamaSans-BlackItalic.ttf</string>
		<string>ArbFONTS-LamaSans-ExtraBold.ttf</string>
		<string>ArbFONTS-LamaSans-ExtraBoldItalic.ttf</string>
		<string>ArbFONTS-LamaSans-ExtraLightItalic.ttf</string>
		<string>ArbFONTS-LamaSans-Light.ttf</string>
		<string>ArbFONTS-LamaSans-LightItalic.ttf</string>
		<string>ArbFONTS-LamaSans-Medium.ttf</string>
		<string>ArbFONTS-LamaSans-MediumItalic.ttf</string>
		<string>ArbFONTS-LamaSans-SemiBold.ttf</string>
		<string>ArbFONTS-LamaSans-SemiBoldItalic.ttf</string>
		<string>LamaSans-Bold.ttf</string>
		<string>LamaSans-BoldItalic.ttf</string>
		<string>LamaSans-ExtraLight.ttf</string>
		<string>LamaSans-Regular.ttf</string>
		<string>LamaSans-RegularItalic.ttf</string>
		<string>LamaSans-Thin.ttf</string>
		<string>LamaSans-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
    <!-- English versions -->
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs microphone access to participate in audio calls and meetings through Microsoft Teams.</string>

    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to participate in video calls and meetings through Microsoft Teams.</string>


</dict>
</plist>
